.main {
  background-color: #f4d7b9;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  background-color: #1990ff;
  display: flex;
  width: fit-content;
}
.gameCell {
  height: 70px;
  width: 70px;
  cursor: pointer;
  display: flex;
  background-color: #f4d7b9;
  border-radius: 100px;
  margin: 10px;
}
.column {
  margin: 10px;
}

.whiteCircle,
.redCircle,
.yellowCircle {
  height: 60px;
  width: 60px;
  border-radius: 100px;
}

.whiteCircle {
  background-color: #fff;
}

.redCircle {
  background-color: rgb(251, 42, 42);
  transition: background-color 0.5s;
}

.yellowCircle {
  background-color: rgb(243, 239, 20);
  transition: background-color 0.5s;
}

td.cel {
  width: 25px;
  height: 25px;
  background-color: #fff;
  padding: 20px;
  border-radius: 50%;
}

tbody.tbody {
  background-color: #1990ff;
  padding: 20px;
}
