$red-color: #fb2a2a;
$yellow-color: #e8ce0a;

.main {
  background-color: #f4d7b9;
  background: linear-gradient(180deg, #fdeddb 70%, #d9bb9b 60%);
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  background-color: #1990ff;
  display: flex;
  width: fit-content;
  padding-bottom: 40px;
  border-radius: 20px;
  border: solid 2px black;
  box-shadow: black 0px 5px 0px 1px;
}
.turn {
  width: 200px;
  height: 100px;
  margin-top: -20px;
  border: solid 2px black;
  box-shadow: black 0px 5px 0px 1px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.redPointer {
    background-color: $red-color;
    color: white;
  }
  &.yellowPointer {
    background-color: $yellow-color;
    color: black;
  }
}

.gameCell {
  height: 60px;
  width: 60px;
  cursor: pointer;
  display: flex;
  background-color: #f4d7b9;
  border-radius: 100px;
  margin: 10px;
  border: solid 2px black;
  box-shadow: black -1px 7px 0px 1px inset;
}
.column {
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
  position: relative;

  &:hover .redPointer span {
    border-top-color: $red-color;
  }
  &:hover .yellowPointer span {
    border-top-color: $yellow-color;
  }
}

.pointer span {
  display: block;
  background-color: none;
  position: absolute;
  top: -80px;
  margin: 10px;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid transparent;
  box-shadow: black -1px 3px 0px 1px inset;
}

.redCircle,
.yellowCircle {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  transition: background-color 0.5s;
  transition: box-shadow 0.1s;
  box-shadow: black -1px 3px 0px 1px inset;
}

.redCircle {
  background-color: $red-color;
}

.yellowCircle {
  background-color: $yellow-color;
}
