.main {
  background-color: #f4d7b9;
  background: linear-gradient(180deg, #f4d7b9 80%, #d9bb9b 60%);
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.board {
  background-color: #1990ff;
  display: flex;
  width: fit-content;
  padding-bottom: 40px;
  border-radius: 20px;
  border: solid 2px black;
  box-shadow: black 0px 5px 0px 1px ;

}
.gameCell {
  height: 60px;
  width: 60px;
  cursor: pointer;
  display: flex;
  background-color: #f4d7b9;
  border-radius: 100px;
  margin: 10px;
  border: solid 1px black;
  box-shadow: black -1px 3px 0px 1px inset;
}
.column {
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
}

.redCircle,
.yellowCircle {
  height: 60px;
  width: 60px;
  border-radius: 100px;
  transition: background-color 0.5s;
  transition: box-shadow 0.1s;
  box-shadow: black -1px 3px 0px 1px inset;
}

.redCircle {
  background-color: #fb2a2a;
}

.yellowCircle {
  background-color: #eae136;


}
